@font-face {
    font-family: 'Planet Benson';
    src: url('./planetbe.ttf') format('truetype');
}


@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

:root{
    --clr-primary: #2b2d42;
    --clr-secondary: #8d99ae;
    --clr-accent: #ffd166;
    --clr-neutral: #edf2f4;
}


*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* util classes */

/* .clr-primary{
    background-color: var(--clr-primary);
    color: var(--clr-neutral);
}
.clr-secondary{
    background-color: var(--clr-secondary);
    color: var(--clr-neutral);
}
.clr-accent{
    background-color: var(--clr-accent);
    color: var(--clr-neutral);
}
.clr-neutral{
    background-color: var(--clr-neutral);
    color: var(--clr-primary);
} */



body{
   font-weight: 400;
    font-size: 1.3125rem;
    line-height: 1.6;
    color: var(--clr-neutral);
    font-family: 'Open Sans', sans-serif;;
}

#content{
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

img {
    display: block;
    max-width: 100%;
  }

.centerContainer {
    margin-inline: auto;
    width: min(90%, 50.5rem); 
}

/* Header */

#header{
    font-family: 'Planet Benson';
    font-size: 2rem;
    text-align: center;
    padding: 2rem;
    background-color: var(--clr-primary);
    color: var(--clr-accent);
    
}

/* nav tabs */
/* #tabs {
  
} */
#tabs ul {
    list-style: none;
    background-color: var(--clr-accent);
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    border-bottom: 3px solid var(--clr-primary);
}

.tabItem {
    cursor: pointer;
    background-color: var(--clr-primary);
    color: var(--clr-neutral);
    padding: 1rem 2rem;
    font-size: 1.3rem;
    border-radius: 4px;
}
#tabs ul li:hover , .active{
    background-color: var(--clr-accent);
    color: var(--clr-primary);
    border: 2px solid var(--clr-primary);
    padding: 14px 30px;
   
}

/* main content */

#main{
    background-color: var(--clr-accent);
    color: var(--clr-primary);
}






/* tabContent */

.tabContent{
    padding: 3rem;
    display: flex;
    flex-direction: column;
   align-items: center;
}


.tabContent > * {
    margin-bottom: 2em;
}

/* about us */

#aboutChef > *{
    margin-bottom: 1.5rem;
}



/* menu */
#menuDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    padding: 3rem 0;
}

.menuCard{
    border: 3px solid var(--clr-primary);
    border-radius: 4px;
    background-color: var(--clr-neutral);
    color: var(--clr-primary);
    max-width: 300px;
    display: flex;
    flex-direction: column;
}

.itemDetails{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    padding: 0.5rem;
    /* border: 1px solid black; */
}
#qty{
    width: 50px;
    font-size: 1.1rem;
    padding: 0.25rem;
    cursor: pointer;
}

#addToCart{
    padding: 0.75rem;
    margin-top: 0.5rem;
    background-color: var(--clr-accent);
    border: 1px solid var(--clr-primary);
    border-radius: 4px;
}
#addToCart:hover{
    background-color: #fac039;
    cursor: pointer;
}

/* contact */
#contactDiv{
    /* max-width: 400px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    padding: 2rem 2rem 4rem 2rem;
}
#cookingImg, #chefImg{
    max-width: 300px;
    margin-bottom: 2rem;
}
#contactInfo{
    margin-top: 0.5rem;
    max-width: 370px;
    padding: 1rem;
    text-align: center;
    border: 3px solid var(--clr-primary);
    border-radius: 4px;
    font-weight: bold;

}



/* footer */

#footer {
    background-color: var(--clr-primary);
    color: var(--clr-neutral);
    text-align: center;
    font-size: 1.2rem;
    padding: 1.5rem;
}
#footer a{
    text-decoration: none;
    color: var(--clr-accent)
}


@media (min-width: 40em) {
    
    .tabContent{
        padding: 3rem 5rem;
    }
    .tabContent > * {
        flex-basis: 100%;
    }
    .tabContent > * + *{
        margin-left: 2em;
    }

    #menuDiv{
        flex-flow: row wrap;
    }
    #contactDiv{
        padding-bottom: 6rem;
    }

  }
  @media (min-height: 750px){
    #footer{
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
    }
  }

  @media(max-width: 500px){
    #tabs ul {
      flex-direction: column;
      gap: 0.5rem;
      text-align: center;
    }
    #tabs ul li {
        width: 10rem;
        margin-inline: auto;
    }
    
   
    #contactDiv{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        padding: 2rem 2rem 4rem 2rem;
    }
    
  }