@font-face {
    font-family: 'Planet Benson';
    src: url('./planetbe.ttf') format('truetype');
}


@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

:root{
    --clr-primary: #2b2d42;
    --clr-secondary: #8d99ae;
    --clr-accent: #ffd166;
    --clr-neutral: #edf2f4;
}


*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



body{
    color: var(--clr-neutral);
    font-family: 'Open Sans', sans-serif;;
    font-weight: 400;
    font-size: 1.3125rem;
    line-height: 1.6;
}



#content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



img {
    display: block;
    max-width: 100%;
  }



.centerContainer {
    margin-inline: auto;
    width: min(90%, 50.5rem); 
}



/* Header */

#header{
    background-color: var(--clr-primary);
    color: var(--clr-accent);
    font-family: 'Planet Benson';
    font-size: 2rem;
    padding: 2rem;
    text-align: center;
}



#tabs ul {
    background-color: var(--clr-accent);
    border-bottom: 3px solid var(--clr-primary);
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 1rem;
}


.tabItem {
    
    background-color: var(--clr-primary);
    border-radius: 4px;
    color: var(--clr-neutral);
    cursor: pointer;
    font-size: 1.3rem;
    padding: 1rem 2rem;
}


#tabs ul li:hover , .active {
    background-color: var(--clr-accent);
    color: var(--clr-primary);
    border: 2px solid var(--clr-primary);
    padding: 14px 30px;
}




/* main content */

#main{
    background-color: var(--clr-accent);
    color: var(--clr-primary);
}



/* tabContent */

.tabContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
}


.tabContent > * {
    margin-bottom: 2em;
}



/* about us */

#aboutChef > *{
    margin-bottom: 1.5rem;
}



/* menu */

#menuDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    padding: 3rem 0;
}



.menuCard{
    background-color: var(--clr-neutral);
    border: 3px solid var(--clr-primary);
    border-radius: 4px;
    color: var(--clr-primary);
    display: flex;
    flex-direction: column;
    max-width: 300px;
}



.itemDetails{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    padding: 0.5rem;
}



#qty{
    cursor: pointer;
    font-size: 1.1rem;
    padding: 0.25rem;
    width: 50px;
}



#addToCart{
    background-color: var(--clr-accent);
    border: 1px solid var(--clr-primary);
    border-radius: 4px;
    margin-top: 0.5rem;
    padding: 0.75rem;
}


#addToCart:hover{
    background-color: #fac039;
    cursor: pointer;
}



/* contact */

#contactDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 2rem 2rem 4rem 2rem;
    text-align: center;
}


#cookingImg, #chefImg{
    max-width: 300px;
    margin-bottom: 2rem;
}


#contactInfo{
    border: 3px solid var(--clr-primary);
    border-radius: 4px;
    font-weight: bold;
    margin-top: 0.5rem;
    max-width: 370px;
    padding: 1rem;
    text-align: center;
}



/* footer */

#footer {
    background-color: var(--clr-primary);
    color: var(--clr-neutral);
    font-size: 1.2rem;
    padding: 1.5rem;
    text-align: center;
}


#footer a{
    color: var(--clr-accent);
    text-decoration: none;
}




@media (min-width: 40em) {
    
    .tabContent{
        padding: 3rem 5rem;
    }

    .tabContent > * {
        flex-basis: 100%;
    }

    .tabContent > * + *{
        margin-left: 2em;
    }


    #menuDiv{
        flex-flow: row wrap;
    }


    #contactDiv{
        padding-bottom: 6rem;
    }

}

@media (min-height: 750px){
    
    #footer{
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
    }
  }

@media(max-width: 500px){
   
    #tabs ul {
      flex-direction: column;
      gap: 0.5rem;
      text-align: center;
    }

    #tabs ul li {
        width: 10rem;
        margin-inline: auto;
    }
    
   
    #contactDiv{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        padding: 2rem 2rem 4rem 2rem;
    }
    
}